/* Forms
--------------------------------------------- */

input,
input[type='search'],
select,
textarea {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 0;
  color: $black;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.625;
  padding: 15px;
  width: 100%;
}

input[type='search'] {
  -webkit-appearance: none;
}

input:focus,
input[type='search']:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none;
}

input[type='checkbox'],
input[type='image'],
input[type='radio'] {
  width: auto;
}

::-ms-input-placeholder {
  color: $white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $white;
  opacity: 1;
}

::placeholder {
  color: $white;
  opacity: 1;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button,
.more-link,
.site-container div.wpforms-container-full .wpforms-form input[type='submit'],
.site-container div.wpforms-container-full .wpforms-form button[type='submit'] {
  background-color: $black;
  border: 0;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  font-family: $helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  width: auto;
}

.button {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button.large {
  font-size: 14px;
}

.button.secondary {
  background-color: $light-gray;
  color: $black;
}

.more-link {
  display: inline-block;
  margin-top: 10px;
}

a.button.small,
button.small,
input[type='button'].small,
input[type='reset'].small,
input[type='submit'].small {
  padding: 15px 20px;
}

button:hover,
button:focus,
input:hover[type='button'],
input:focus[type='button'],
input:hover[type='reset'],
input:focus[type='reset'],
input:hover[type='submit'],
input:focus[type='submit'],
.button:hover,
.button:focus,
.more-link:hover,
.more-link:focus,
.site-container
  div.wpforms-container-full
  .wpforms-form
  input[type='submit']:focus,
.site-container
  div.wpforms-container-full
  .wpforms-form
  input[type='submit']:hover,
.site-container
  div.wpforms-container-full
  .wpforms-form
  button[type='submit']:focus,
.site-container
  div.wpforms-container-full
  .wpforms-form
  button[type='submit']:hover {
  background-color: $blue;
  border-width: 0;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2);
  color: $white;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: $black;
  color: $white;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type='button']:disabled,
.site-container input[type='button']:disabled:hover,
.site-container input[type='reset']:disabled,
.site-container input[type='reset']:disabled:hover,
.site-container input[type='submit']:disabled,
.site-container input[type='submit']:disabled:hover {
  background-color: $light-gray;
  border-width: 0;
  box-shadow: none;
  color: #999;
  cursor: not-allowed;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button {
  display: none;
}

/* Search Form
--------------------------------------------- */

.search-form {
  overflow: hidden;
  position: relative;
}

.entry-content .search-form {
  margin-bottom: 40px;
  margin-top: 20px;
}

.error404 .entry-content .search-form input[type='search'] {
  margin-right: 10px;
  width: 50%;
}

.post-password-form input[type='submit'],
.search-form input[type='submit'] {
  margin-top: 10px;
}

.widget_search input[type='submit'],
.header-search-wrap input[type='submit'] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

.widget_search input[type='submit'] {
  right: 0;
  top: 0;
}

.widget_search input[type='submit']:focus,
.site-header .header-search-wrap input[type='submit']:focus {
  background-color: $black;
  box-shadow: none;
  clip: auto;
  color: $white;
  height: auto;
  padding: 22px 20px;
  width: auto;
}

input.search-form-input {
  background: $black;
  color: $white;
}
