/* Sidebar
---------------------------------------------------------------------------- */

.sidebar {
  line-height: 1.75;
  margin-bottom: 100px;
}

.sidebar,
.sidebar p {
  font-size: 16px;
}

.sidebar .widget {
  margin-bottom: 80px;
}
