$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
);

$base-font: 16px;
$white: #ffffff;
$white2: #f3f3f3;
$black: #191919;
$light-gray: #eeeeee;
$light-gray2: #a7a7a7;
$dark-gray: #222222;
$blue: #06c;
$red: #e40000;
$red2: #ac0000;
$helvetica: 'Open Sans', sans-serif;
$helvetica-condensed: 'Open Sans Condensed', sans-serif;
$muli: Muli, sans-serif;
$futura: futura-pt, sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
